* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
    color: white;
}

body {
    background:linear-gradient(90deg,#cb9c03,white);
    background:linear-gradient(90deg,#313866,#504099,#974EC3,#FE7BE5);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* header */
header {
    margin: 0px 30px 20px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 60px;
    row-gap: 10px;
}

header h1 {
    font-size: 35px;
    font-family: ubuntu;
}


header nav ul li{
    display: inline-block;
    font-size: 18px;
    transition: 0.3s;
}

header nav ul {
    display: flex;
    gap: 20px;
    }

header nav ul li i,
header button i, 
main article .buy-learn i {
    padding-right: 5px;
    font-size: 15px;
}


header nav ul li:hover {
    font-weight: bold;
    text-decoration:underline;
}


header button{
    position: absolute;
    top: 7px;
    right: 3vw;
    width: 150px;
    height: 35px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border :2px solid white;
    transition: 0.3s;
    background-color: transparent;
}

header button:hover {
    box-shadow: 0px 0px 10px  white;
    font-weight: bold;
}

/* main */

main {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0 20px 30px;
    flex: 1;

}

main article {
    display: flex;
    flex-basis: 40%;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content:center;
}

main article h2 {
    font-size: 60px;
    font-family: 'Teko', sans-serif;
}

main article p {
    font-size: 25px;
    font-style: italic;
    font-family: 'Gulzar', serif;
    line-height: 1.5;
}

main article h2,
main article p {
    animation: slideright 1s;
}

main aside {
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
}

main article .buy-learn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    animation: slideup 1s; 
}

main article .buy-learn button{
    display: block;
    width: 120px;
    height: 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    border :2px solid white;
    background-color: transparent;
    transition: 0.3s;
}

main article .buy-learn button:hover {
    font-weight: bold;
    box-shadow: 0px 0px 10px  white;
}

main aside img {
    width: 600px;
    filter: drop-shadow(10px 10px 15px black);
    animation: slideleft 1s;

}

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    background-color: #24305e;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    transition: 0.3s;
} 

footer ul li {
    display: inline;
}

footer ul li a i {
    padding: 0 5px 0 5px;   
}

footer li a:hover {
    filter: drop-shadow(0px 0px 10px  white) ;
}



@keyframes slideup {
    from {
        transform: translateY(150px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideright {
    from {
        transform: translateX(-150px);
        opacity: 0;
    }
    to {
        transform :translateX(0px);
        opacity: 1;
    }
    
}

@keyframes slideleft {
    from {
        transform:translateX(150px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1024px) {

    main article,
    main aside {
        flex-basis: 100%;
    }
    
    main article {
        padding-right: 20px;
    }

    header h1 {
        font-size: 25px;
    }

    header nav ul li {
        font-size: 15px;
    }

    main article h2 {
        font-size: 50px;

    }

    main article p {
        font-size: 23px;
    }

    main aside img {
        width: 70vw;
    }

    header nav ul li i,
    header button i, 
    main article .buy-learn i {
        font-size: 10px;
    }

    main article .buy-learn button{
        font-size: 15px;
        width: 105px;
        height: 25px;
    }

    header button{
        position: absolute;
        top: 3px;
        right: 3vw;
        width: 125px;
        height: 30px;
        font-size: 15px;

    }
    
}